# Ignore Zone.Identifier files
**/*:Zone.Identifier
**/*\357\200\272Zone.Identifier

# Ignore compiled object files
*.o

# Ignore zip files
*.zip

# Ignore VS Code settings
.vscode/

# Ignore any other temporary files
*.tmp
*.log
STY25/STY_CODE/
